body  {
    background-image: url("image1.jpeg");
    height: 100px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
ul
{
float:right;
margin:0 0px;
}
.footer-nav {
    float: left;
  }
.logo {
    float: right;
  } 
.footer-nav ol {
    display: inline;
  }
div{
    margin-top: -10px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-left: 150px;
}
  